<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <form method="POST" action="/call/">
        <fieldset>
            <legend>Create Call Request</legend>
            {% csrf_token %}
            {{formCallRequest}}
            <button type="submit">Send</button>
        </fieldset>
    </form>
<!--     <br>
    <table>
        <caption>{{title}}</caption>
        <thead><th>Name</th><th>Phone</th><th>Status</th><th>Created At</th></thead>
        <tbody>
        {% for callRequest in callRequestList %}
        <tr><td>{{callRequest.name}}</td><td>{{callRequest.phone}}</td><td>{{callRequest.status}}</td><td>{{callRequest.create_at}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
 -->  </body>
</html>
